<div class="panel panel-default card">
  <div class="panel-body">
    <div class="image">
        <img [src]="'http://webapidemo3cor.azurewebsites.net/'+expresso.imageUrl">
    </div>
    <p class="text-center">
      Expresso
    </p>
    <p class="nome text-center">
      {{expresso.nome}}
    </p>
    <p class="text-center detalhes">
      <a [routerLink]="['/detail', expresso.id]">+ Detalhes</a>
    </p>
    <p class="best-price text-center">
      <span>R$ </span><span>{{expresso.preco | simpleMoneyPipe}}</span>
    </p>
  </div>
</div>