.level-name{
    font-family: "Durotype - SecondaSoft-Medium",Arial,Helvetica,sans-serif;
    font-size: 45px;
    line-height: 0.53;
    letter-spacing: 9px;
    text-align: center;
    color: #333333;
    padding: 0 2.5%;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}
h1{
    text-align: center;
}
.text-category-name{
    font: 18px/2 "Durotype - SecondaSoft-Light",Arial,Helvetica,sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-align: center;
    color: #999;
    text-transform: uppercase;
}

.department-category-name::before{
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ecd9d9;
    bottom: 50px;
    left: 0;
}

.department-category-name{  
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
}

.department-category-name>img{
    float: left;
    /*margin-top: 60px;*/
    position: absolute;
    left: 0;
    z-index: 2;
}